.charts-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem;

  @include respond-900-width {
    flex-direction: column-reverse;
  }
}

.chart--line-container {
  width: 50%;

  @include respond-900-width {
    width: 100%;
  }
}

.chart--doughnut-container {
  width: 50%;

  @include respond-900-width {
    margin-bottom: 5rem;
    width: 100%;
  }
}