.dream {
  color: $light-gray;
  font-size: 18px;

  &__header {
    background-color: yellow;
    cursor: pointer;
  }

  &__body {
    background-color: green;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
  }
}