.footer {
  margin: 0 auto;
  width: $grid-width;

  @include respond-1100-width {
    width: 100%;
  }

  &__brand {
    width: 22rem;
  }

  &__author-text {
    color: $white;
    font-size: $m-font-size;
  }

  &__social-media a {
    color: $white;
    font-size: $m-font-size;
    transition: all .3s;

    &:nth-child(1):hover {
      color: $light-blue;
    }

    &:nth-child(2):hover {
      color: lighten($light-purple, 25%);
    }

    &:nth-child(3):hover {
      color: $light-pink;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__brand-container {
    text-align: center;
  }
}

.copyright-text {
  font-size: $s-font-size;
  color: $white;
}