.heading-text-box {
  text-transform: uppercase;

  @include respond-650-width {
    padding: 0 2rem;
  }

  &--secondary {
    color: $white;
    font-size: $xl-font-size;
    font-weight: 500;
  }

  &--tertiary {
    color: $light-blue;
    font-size: $l-font-size;
    font-weight: 400;
  }
}