.ReactModal__Overlay {
  z-index: 99999;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: linear-gradient(to bottom right, $light-blue 0%, $dark-blue 100%);
  border-radius: 5px;
  color: $white;
  outline: none;
  padding: 2rem 4rem;
  position: relative;
  text-align: center;

  @include respond-650-width {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}