@mixin input-idle {
  background-color: transparent;
  border: 1px solid $light-gray;
  border-radius: 5px;
  color: $light-gray;
  font-size: $l-font-size;
  outline: none;
  transition: all .3s;
}

@mixin input-focus {
  background-color: rgba($light-blue, .1);
  border-color: $light-blue;
  color: $light-blue;
}

// 1800px === 112.5em === 75%
// 1200px === 75em === 56.25%
// 900px === 56.25em === 50%
// 600px === 37.5em === 50%

// MEDIA QUERIES
@mixin respond-1800-width {
  @media (min-width: 112.5em) { @content };
}

@mixin respond-1200-width {
  @media (max-width: 75em) { @content };
}

@mixin respond-1100-width {
  @media (max-width: 68.75em) { @content };
}

@mixin respond-1050-width {
  @media (max-width: 65.625em) { @content };
}

@mixin respond-1010-width {
  @media (max-width: 63.125em) { @content };
}

@mixin respond-900-width {
  @media (max-width: 56.25em) { @content };
}

@mixin respond-850-width {
  @media (max-width: 53.125em) { @content };
}

@mixin respond-750-width {
  @media (max-width: 46.875em) { @content };
}

@mixin respond-650-width {
  @media (max-width: 40.625em) { @content };
}

@mixin respond-550-width {
  @media (max-width: 34.375em) { @content };
}

@mixin respond-500-width {
  @media (max-width: 31.25em) { @content };
}