// COLORS
$light-blue: #53D1FE;
$medium-blue: #191992;
$dark-blue: #100E5A;

$light-purple: #4332B8;
$dark-purple: #03021B;

$light-pink: #FD8DF6;

$white: #eee;

$gray: #7C7C7C;

// FONTS
$default-font-size: 1.6rem;
$l-font-size: 2rem;
$xl-font-size: 3rem;
$xxl-font-size: 4rem;

// GRID
$grid-width: 114rem;

// SPACING
$m-space: 1.5rem;
