// COLORS
$light-blue: #53D1FE;
$medium-blue: #191992;
$dark-blue: #100E5A;
$darker-blue: #04031C;

$light-purple: #4332B8;
$dark-purple: #03021B;

$light-pink: #FD8DF6;

$white: #eee;

$gray: #7C7C7C;
$light-gray: rgb(185, 185, 185);

// FONTS
$default-font-size: 1.6rem;
$l-font-size: 2.2rem;
$lr-font-size: 2.6rem;
$xl-font-size: 3rem;
$xxl-font-size: 4rem;
$xxxl-font-size: 5rem;

// GRID
$grid-width: 114rem;

// SPACING
$m-space: 1.5rem;

// INPUT WIDTH:
$input-width: 20rem;