.section {
  margin: 0 auto;
  position: relative;
  width: 114rem;

  @include respond-1050-width {
    width: 100%;
  }
}

.section--one {
  height: 100vh;

  &__text-box {
    color: $white;
    position: absolute;
      top: 45%;
      left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include respond-1050-width {
      padding: 0 2rem;
    }

    .heading-primary--main {
      font-size: $xxxl-font-size;
      text-transform: uppercase;
      background: -webkit-linear-gradient(top left, $light-blue, $light-pink);
      background-image: -webkit-gradient(linear, left top, right bottom, from($light-blue), to($light-pink));
      background-image: -webkit-linear-gradient(top left, $light-blue, $light-pink);
      background-image: -o-linear-gradient(top left, $light-blue, $light-pink);
      background-image: linear-gradient(to bottom right, $light-blue, $light-pink);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
                        color: transparent;

      @media (max-width: 25.375em) {
        font-size: $xl-font-size;
      }
    }

    span {
      display: block;
      font-weight: 400;
    }
  }
}

.section--two {
  text-align: center;

  &__cards {
    display: flex;
    justify-content: space-around;
    position: relative;

    @include respond-900-width {
      flex-direction: column;
      justify-content: center;
    }

    .card {
      background-color: $white;
      border-radius: 3px;
      height: 32rem;
      padding: 1.5rem;
      position: relative;
      text-align: center;
      transition: all 0.5s;
      width: 32rem;

      @include respond-900-width {
        margin: 0 auto;
        margin-bottom: 10rem;    
      }

      &:hover {
        transform: translateY(-3rem);
      }

      .img {
        position: absolute;
          left: 50%;
        transform: translateX(-50%);
      }

      &--1-img {      
          top: -5rem;          
        width: 13rem;
      }

      &--2-img {      
          top: -5rem;          
        width: 13rem;
      }

      &--3-img {      
          top: -3rem;          
        width: 18rem;
      }

      &__text-box {
        position: absolute;
          top: 70%;
          left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
      }

      &__main-text {
        color: $dark-purple;
        font-size: $l-font-size;
        font-weight: 600;
      }

      &__sub-text {
        color: $gray;
        font-size: $default-font-size;
        font-weight: 400;
      }
    }
  }
}