.header {
  background-color: transparent;
  position: absolute;
  width: 100%;

  .nav {
    display: flex;
    font-size: $default-font-size;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.3rem 0;
    width: 114rem;

    &__link {
      &,
      &:link,
      &:visited {
        border-bottom: 1px solid transparent;
        color: $white;
        padding-bottom: .5rem;
        text-decoration: none;
        transition: all .2s;
      }

      &:hover {
        color: $light-blue;
      }
    }

    &__main-links {
      position: absolute;
        left: 50%;
      transform: translateX(-50%);

      .nav__link {
        margin: 0 2.5rem;
      }
    }

    .is-active {
      border-color: $light-blue;
      color: $light-blue;
    }
  }
}